[run]
source =
    game
    test
omit =
    env/*
    */test*
    */__init__.py
[repot]

exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    

if name == '__main__'
    def site 
    _str_
